// Current color theme is http://colorschemedesigner.com/#1i11UfvpEw0w0

#doc {
    margin:auto; /* center in viewport */
    width: 900px; /* fix page width */
}

/* arbitrary content styling */
#hd, .yui3-g .content, #ft {
    border: 5px solid #ccc;
    height: 400px;
    margin-right: 10px; /* gutter between columns */
}

#hd, #ft {
    height: 40px;
}

#wrapper{
    font-family: 'Verdana', serif;
    font-size: 14px;
    font-weight: 400;
}

h1 {
    font-family: 'Coustard', serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 10px;
}

h2 {
    font-family: 'Coustard', serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 10px;
}

body{
    background-color: #E6D9A9;
}

a:link {color:#998D62;}      /* unvisited link */
a:visited {color:#857022;}  /* visited link */
a:hover {color:#CCB769;}  /* mouse over link */
a:active {color:#CCB769;}  /* selected link */

h1#BigFont {
    font-size: 200px;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
}

#BigUpper {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 100px;
    font-weight: 900;
    position: relative;
    top: -75px;
}

#page {
    width: 900px;
    text-align: left;
    margin: 0 auto;
    background-color: white;
}

#twocols {
    
}

#maincol {
    float: left;
    position: relative;
    width: 560px;
    padding: 20px 20px 20px 20px;
}

#rightcol {
    float: right;
    position: relative;
    width: 260px;
    padding: 20px 20px 20px 20px;
}

.example_panel{
    width: 270px;
    float: left;
    margin-bottom: 30px;
    text-align: center;
}

/* ******************************************************************** */
/* Clearfix: http://csscreator.com/attributes/containedfloat.php        */
/* ******************************************************************** */
.clearfix:after {
 content: ".";
 display: block;
height: 0;
 clear: both;
 visibility: hidden;
 }

.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */

